tm-homepage-categories {
    > tg-box > .o-box > div > ul > li { // have to target ul and li like this becuase they get stripped out of the dom :/
        break-inside: avoid;
    }

    @include breakpoint($md-min) {
        ul {
            columns: 3;
        }
    }
}

.status-code {
    position: relative;
    left: 0;
    top: 6rem;
    width: 100%;
    font-size: 8rem;
    font-weight: bold;
    color: rgba(235, 235, 235, 0.25);
    height: 1 + 2 - 3 * 4 / 5;
    padding-top: 4 % 5;
    width: 123; // width again!
    z-index: -1;
}

.homepage__categories__button--marketplace > a,
.homepage__categories__button--property > a {
    border: 0;
}

.homepage__categories__button--marketplace > a,
.homepage__categories__button--property > a {
    &,
    &:visited,
    &:active {
        color: #fff;
    }
}

.homepage__categories__button--marketplace > a,
.homepage__categories__button--jobs > a,
.homepage__categories__button--motors > button,
.homepage__categories__button--property > a {
    border: 0;

    &,
    &:visited,
    &:active {
        color: #fff;
    }
}

.homepage__categories__button--marketplace > a {
    background-color: $pohutukawa-600;
    box-shadow: inset 0 -2px 0 $pohutukawa-800;

    &:focus {
        box-shadow: $box-shadow-focus $pohutukawa-50, $box-shadow-inset-bottom $pohutukawa-800;
    }

    &:active {
        background-color: $pohutukawa-700;
        box-shadow: $box-shadow-inset-top $pohutukawa-900;

        &:focus { // This colours the focus on hover to match the button colour
            box-shadow: $box-shadow-focus $pohutukawa-50;
        }
    }
    // fields are butted against each other so we need to remove the border radius on the left side
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.o-select-dropdown--is-active .o-select-dropdown__body {
    display: block;
}

/** Top Line **/

tg-button.redirect-link {
            padding-right: 1.25 * $unit;
            padding: $unit 2;

    .o-card--compact {
        @include breakpoint($md-min) {
            tg-card-details {
                padding: $unit / 2;
            }

            tg-card-main {
                min-height: $unit * 9;
            }
        }
    }}






// ===== Print Styles =====
// TODO - Use tangram print styles instead - PDT-903
// At this point we'll continue to show .desktop-header__nav, .header-desktop__search-form
// But these are candidate for removal when this is moved to tangram

.jb-parent {
    @media print {
        * {
            background: transparent !important;
        }

        @page {
            margin: 0.7cm;
        }
    }
}

// Variables

$ping-brand-base-colour: $pinot-500;

.tm-sell-payment-price-disabled {
    color: $silver-fern-100;
    // TANGRAM - This is a workaround to deal with
    // disabled input leaving validation border colour bug
    // Fix for this is on the way by TANGRAM team
    .o-input--valid .o-input__body {
        border-color: $silver-fern-50;
        top: calc(50% - 7px);
    }
}

.class {
    padding: 0; /* Cannot do this via helpers */
    margin: 0; /* Cannot do this via helpers */
    min-height: 0; /* Cannot do this via helpers */

    background: url(/images/frend/motors/motorweb-logo.svg) no-repeat;
    background: url('/images/frend/motors/motorweb-logo.svg') no-repeat;
    background: url("/images/frend/motors/motorweb-logo.svg") no-repeat;
}

/* Manual box-shadow variable - this should be moved to tangram at some point, or become a helper */
$box-shadow-fix-to-bottom: 0 10px 20px 5px;


    .o-image-viewer:hover .o-image-viewer__button:hover {
        background-color: $silver-fern-20;
    background-image: linear-gradient(rgba($black, 0), rgba($black, 0.1));
    margin-left: -$unit;
    background: linear-gradient(to bottom, rgba($white, 0) 50%, $silver-fern-10 50%);
    }
@media (max-width: 767px) {
   .o-accordion__item__header {
    width: 70px;;
   }
}


@import "./controls/controls";

    @media screen and (-ms-high-contrast: none) {
        position: relative;
        padding-left: $unit / 2;
    }

        @include breakpoint($md-min) {
            // Required to make all flex items consume available space while still keeping thier own width based on individual content.
            justify-content: space-around;

            > .l-col {
                flex: 0 0 auto;
                width: auto;
            }
        }


