#panel {
    h2 {
        margin: 0;
        padding: 0;

        @media screen and (max-width: 1240px) { /* small screen styles */
            font-size: 0.8em;
        }

        @media screen and (max-width: 991px) { /* large tablet styles */
            font-size: 0.7em;
        }

        @media screen and ((max-width: 479px) or (max-height: 1000px)) { /* phone styles */
            font-size: 0.6em;
        }
    }
}
