.units {
    height: 10%;
    height: 10vh;
    height: 10px;
    height: 10rem;
    height: 10cm;
    height: 10mm;
    height: 10in;
    height: 10pt;
    height: 10pc;
    height: 10em;
    height: 10ex;
    height: 10deg;
    height: 10rad;
    height: 10grad;
    height: 10ms;
    height: 10s;
    height: 10hz;
    height: 10khz;
    together: 10% 10vh 10px 10rem 10cm 10mm 10in 10pt 10pc 10em 10ex 10deg 10rad 10grad 10ms 10s 10hz 10khz;
}