// =============================================================================
// Third party libraries
// =============================================================================
@import "~breakpoint-sass/stylesheets/breakpoint";

// =============================================================================
// Tangram
// =============================================================================




@import "./controls/controls";
@import "./controls/controls";
@import "./controls/controls";

@import "./controls/controls";
@import "./controls/controls";


.ping-latest-transaction__reference-number{
    @include small-text();
}

.jb-parent {
    @media print {
        @page {
            margin: 0.7cm;
        }
    }
}

@mixin sprite($sprite, $display: block) {
    }

@media (max-width: 767px) {
   .o-accordion__item__header {
    width: 70px;;
   }
}


    @media screen and (-ms-high-contrast: none) {
        position: relative;
    }

        @include breakpoint($md-min) {

        }

    @include breakpoint( max-width $lg-min) {
        font-size: $pt-native-ad-card-font-small - 1;
    }

@keyframes spinner {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(720deg);}
}

@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}

@function sprite-width($sprite) {
    @return nth($sprite, 3);
}

@keyframes fadeFromHidden {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}


@import 'tans/typography/base',
'tans/typography/address-block/address-block',
'tans/typography/blockquote/blockquote';

@font-face {
    font-family: 'Museo Sans';
    font-weight: normal;
    font-style: normal;
}

@mixin create-pointer($size: $pointer-size-default, $color: $tip-top-300, $direction: 'up') {
    border: 0; // clear previous pointer if overriding
}

@mixin shape-tick($color:#fff, $size:5px){
    background: none;
}

@each $breakpoint-name, $breakpoint-value in map-merge($breakpoints-map, $breakpoints-only-map) {
}