.class {
    background: url(/images/frend/motors/motorweb-logo.svg) no-repeat;
    background: url('/images/frend/motors/motorweb-logo.svg') no-repeat;
    background: url("/images/frend/motors/motorweb-logo.svg") no-repeat;
  }
