<!-- reference view child -->
<div #divContainer></div>

<!-- property binding -->
<p my-directive [a]="'orange'">Highlighted in orange</p>

<p my-directive [b]="true">Highlighted in orange</p>

<p my-directive [c]="{ hello: 'world' }">Highlighted in orange</p>

<p my-directive [d]>Highlighted in orange</p>

<p [style.background]="'lime'">I am green with envy!</p>

<div
    [dash-in-here]="blaaa">
</div>


<!-- event binding -->
<button (click)="playSong()">Play</button>

<!-- two-way-binding -->
<my-cool-component [(ngModel)]="someStuff"></my-cool-component>
<my-cool-component [(ngModel)]></my-cool-component>

<!-- asterisk directives: custom ones can be built -->
<div *ngIf="true">True</div>

<div *ngFor="let a of [1, 2]">{{ a }}</div>

<div *ngBla>True</div>

<div
  *ngIf
  #test
  [(Test)]
  (Test)
  [Test]
  a-custom
  class
  ng-class
  tg-class>
  Ordering test
</div>

<div
(window:resize)="lol()"
[@yolo]="swag.rofl"
>Crazy stuff
  </div>