<!-- reference view child -->
<div #divContainer></div>

<!-- property binding -->
<p my-directive [a]="'orange'">Highlighted in orange</p>

<p my-directive [b]="true">Highlighted in orange</p>

<p my-directive [c]="{ hello: 'world' }">Highlighted in orange</p>

<p my-directive [d]>Highlighted in orange</p>

<p [style.background]="'lime'">I am green with envy!</p>

<div
    [dash-in-here]="blaaa">
</div>


<!-- event binding -->
<button (click)="playSong()">Play</button>

<!-- two-way-binding -->
<my-cool-component [(ngModel)]="someStuff"></my-cool-component>
<my-cool-component [(ngModel)]></my-cool-component>

<!-- asterisk directives: custom ones can be built -->
<div *ngIf="true">True</div>

<div *ngFor="let a of [1, 2]">{{ a }}</div>

<div *ngBla>True</div>

<div
  *ngIf
  #test
  [(Test)]
  (Test)
  [Test]
  a-custom
  class
  ng-class
  tg-class>
  Ordering test
</div>

<div
(window:resize)="lol()"
[@yolo]="swag.rofl"
>Crazy stuff
  </div>

<div
            [results$]="watchlistListings$"
                                         binding="{
'closing-time-picker__is-selected': isSelectedHour(hour)
                                    }"

        tg-validation="::{
            maxCharacters: $ctrl.attributeMetadata.maxStringLength,
            required: !!$ctrl.attributeMetadata.isRequiredForSell
        }"

    [ngClass]="{
        'refiner__range-refiner-option--selected': refiner.isMinSelected(refiner.ANY_OPTION),

        'h-text-align-1': c.b,
        'h-text-align-2': a,
        'h-text-align-3': !c.b,
        'h-text-align-4': !a,
        'h-text-align-5': c.b(),
        'h-text-align-6': a(),
        'h-text-align-7': !c.b(),
        'h-text-align-8': !a(),
        'h-text-align-9': c.b(d),
        'h-text-align-10': a(d),
        'h-text-align-11': !c.b(d),
        'h-text-align-12': !a(d),
        'h-text-align-left': (mediaSize$ | async)?.isSm,
        'h-text-align-center': !(mediaSize$ | async)?.isSm
    }">
</div>